<template>
  <div class="goods">
    <el-breadcrumb separator="/" style="margin-bottom: 15px;">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>商品管理</el-breadcrumb-item>
      <el-breadcrumb-item>商品列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-form>
      <el-form-item>
        <el-input
          @keydown.native.enter="creach"
          placeholder="请输入内容"
          v-model="query"
          style="width:350px;margin-right:10px"
        >
          <el-button slot="append" icon="el-icon-search" @click="creach"></el-button>
        </el-input>
        <el-button type="primary" @click="addGoods">添加商品</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="lists" border style="width: 100%;" height="calc(100vh - 500px)">
      <el-table-column type="index" width="50" label="#"></el-table-column>
      <el-table-column prop="goods_name" label="商品名称"></el-table-column>
      <el-table-column prop="goods_price" label="商品价格(元)"></el-table-column>
      <el-table-column prop="goods_weight" label="商品重量"></el-table-column>
      <el-table-column label="创建日期">
        <template slot-scope="scope">
          <div>{{scope.row.add_time | dealDate2}}</div>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            size="medium"
            circle
            @click="editGood(scope.row.goods_id)"
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            size="medium"
            circle
            @click="deleteGood(scope.row.goods_id)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      style="margin-top: 15px;"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="goods.pagenum"
      :page-sizes="[10, 20, 30, 40]"
      :page-size="goods.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
    ></el-pagination>
  </div>
</template>
<script>
import { goodsLists, deleteGoods } from "@/http/apis";
export default {
  data() {
    return {
      query: "",
      lists: [],
      goods: {
        query: "",
        pagenum: 1,
        pagesize: 10
      },
      total: null
    };
  },
  methods: {
    addGoods() {
      this.$router.push({
        name: "goodsadd"
      });
    },
    creach() {
      this.goods.query = this.query;
      this.goods.pagenum = 1;
      this.getGoodsList();
    },
    handleSizeChange(val) {
      this.goods.pagesize = val;
      this.getGoodsList();
    },
    handleCurrentChange(val) {
      this.goods.pagenum = val;
      this.getGoodsList();
    },
    async getGoodsList() {
      const res = await goodsLists(this.goods);
      this.lists = res.goods;
      this.total = res.total;
    },
    editGood(id) {
      this.$router.push({
        name: "goodsedit",
        params:{
          id
        }
      });
    },

    //删除商品
    async deleteGoods(id) {
      await deleteGoods(id);
      this.getGoodsList();
    },
    async deleteGood(id) {
      try {
        await this.$confirm("此操作将永久删除该商品, 是否继续?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        });
        this.deleteGoods(id);
      } catch (error) {
        this.$message({
          type: "info",
          message: "已取消删除"
        });
      }
    }
  },
  watch: {
    $route() {
      this.getGoodsList();
    }
  },
  created() {
    this.getGoodsList();
  }
};
</script>