<template>
  <div class="goodscat">
    <el-breadcrumb separator="/" style="margin-bottom: 15px;">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>商品管理</el-breadcrumb-item>
      <el-breadcrumb-item>商品分类</el-breadcrumb-item>
    </el-breadcrumb>
    <el-button type="primary" @click="add">添加分类</el-button>
    <el-table
      height="calc(100vh - 318px)"
      :data="tableData"
      style="width: 100%;margin-bottom: 20px;"
      row-key="cat_id"
      :tree-props="{children: 'children', hasChildren: 'hasChildren'}"
    >
      <el-table-column prop="cat_name" label="分类名称" width="180"></el-table-column>
      <el-table-column label="级别" width="180">
        <div slot-scope="scope">{{scope.row.cat_level | GetLevel}}</div>
      </el-table-column>
      <el-table-column label="是否有效">
        <div slot-scope="scope">{{scope.row.cat_deleted | GetDeleted}}</div>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="primary" icon="el-icon-edit" circle size="small" @click="getClassify(scope.row)"></el-button>
          <el-button type="danger" icon="el-icon-delete" circle size="small" @click="removeClassify(scope.row.cat_id)"></el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      style="margin-top: 15px;"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="users.pagenum"
      :page-sizes="[5, 10, 15, 20]"
      :page-size="users.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
    ></el-pagination>
    <el-dialog title="添加商品分类" :visible.sync="AddDialogFormVisible">
      <el-form :model="addForm" ref="addForm" label-width="80px">
        <el-form-item label="分类名称" prop="cat_name">
          <el-input v-model="addForm.cat_name"></el-input>
        </el-form-item>
        <el-form-item label="分类">
          <el-cascader
            :options="options"
            :props="{ expandTrigger: 'hover',value:'cat_id',label:'cat_name' }"
            @change="handleChange"
          ></el-cascader>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="AddDialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="addClassify">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="修改商品分类" :visible.sync="editDialogFormVisible">
      <el-form :model="editForm" ref="editForm" label-width="80px">
        <el-form-item label="分类名称" prop="cat_name">
          <el-input v-model="editForm.cat_name"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editDialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="editClassify">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { getGoodsCategories, setClassify ,editClassify,deleteClassify} from "@/http/apis";
export default {
  data() {
    return {
      users: {
        pagenum: 1,
        pagesize: 5
      },
      total: null,
      tableData: [],
      AddDialogFormVisible: false,
      addForm: {
        cat_level: "",
        cat_name: "",
        cat_pid: ""
      },
      options: [],
      editDialogFormVisible:false,
      editForm:{
        cat_id:"",
        cat_name:""
      }
    };
  },
  filters: {
    GetLevel(val) {
      if (val == 0) {
        return "一级";
      } else if (val == 1) {
        return "二级";
      } else {
        return "三级";
      }
    },
    GetDeleted(val) {
      if (val) {
        return "无效";
      } else {
        return "有效";
      }
    }
  },
  methods: {
    async add() {
      const res = await getGoodsCategories(2);
      this.options = res;
      this.AddDialogFormVisible = true;
    },
    handleSizeChange(val) {
      this.users.pagenum = 1;
      this.users.pagesize = val;
      this.getGoodsCategories();
    },
    handleCurrentChange(val) {
      this.users.pagenum = val;
      this.getGoodsCategories();
    },
    async getGoodsCategories() {
      const res = await getGoodsCategories(
        3,
        this.users.pagenum,
        this.users.pagesize
      );
      this.tableData = res.result;
      this.total = res.total;
    },
    handleChange(value) {
      this.addForm.cat_pid = value[value.length - 1];
      this.addForm.cat_level = value.length;
    },
    async addClassify() {
      try {
        await setClassify(this.addForm);
        this.AddDialogFormVisible = false;
        this.getGoodsCategories();
      } catch {}
    },
    getClassify(val){
      console.log(val)
      const {cat_id,cat_name} =val
      this.editForm=Object.assign(this.editForm,{
        cat_id,cat_name
      })
      this.editDialogFormVisible=true
    },
    async editClassify(){
      await editClassify(this.editForm.cat_id,this.editForm)
      this.editDialogFormVisible=false
      this.getGoodsCategories();
    },
    async deleteClassify(id){
      await deleteClassify(id)
    },
    async removeClassify(id) {
      console.log(id)
      try {
        await this.$confirm("此操作将永久删除该分类, 是否继续?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        });
        await this.deleteClassify(id);
        this.getGoodsCategories();
      } catch (error) {
        this.$message({
          type: "info",
          message: "已取消删除"
        });
      }
    },
  },
  created() {
    this.getGoodsCategories();
  }
};
</script>
<style lang="scss">
</style>