<template>
  <div class="goodsparams">
    <el-breadcrumb separator="/" style="margin-bottom: 15px;">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>商品管理</el-breadcrumb-item>
      <el-breadcrumb-item>分类参数</el-breadcrumb-item>
    </el-breadcrumb>
    <el-alert
      style="margin-top:15px;margin-bottom:15px"
      title="注意:只允许为第三级分类设置参数"
      type="warning"
      show-icon
    ></el-alert>
    <el-row>
      请选择商品分类
      <el-cascader
        :show-all-levels="false"
        :options="options"
        :props="{ expandTrigger: 'hover',value:'cat_id',label:'cat_name'}"
        @change="handleChange"
      ></el-cascader>
    </el-row>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="动态参数" name="first">
        <el-button type="primary" size="small" @click="setParamsInfo('many')" :disabled="value.length!=3">设置动态参数</el-button>
        <el-table :data="tableData" style="width: 100%">
          <el-table-column type="expand">
            <template slot-scope="scope">
              <el-tag
                type
                closable
                v-for="(item,index) in (scope.row.attr_vals? scope.row.attr_vals.split(','):[])"
                :key="index"
                @close="handleClose(scope.$index,scope.row)"
              >{{item}}</el-tag>
              <el-input
                class="input-new-tag"
                v-if="inputVisible[scope.$index]"
                v-model="inputValue[scope.$index]"
                :ref="'saveTagInput'+scope.$index"
                size="small"
                @keyup.enter.native="handleInputConfirm(scope.$index,scope.row)"
                @blur="handleInputConfirm(scope.$index,scope.row)"
              ></el-input>
              <el-button
                v-else
                class="button-new-tag"
                size="small"
                @click="showInput(scope.$index)"
              >+ New Tag</el-button>
            </template>
          </el-table-column>
          <el-table-column width="50" label="#"></el-table-column>
          <el-table-column label="属性名称" prop="attr_name" width="180px"></el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button
                type="primary"
                icon="el-icon-edit"
                plain
                size="mini"
                @click="edit(scope.row)"
              ></el-button>
              <el-button
                type="danger"
                icon="el-icon-delete"
                plain
                size="mini"
                @click="remove(scope.row)"
              ></el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="静态参数" name="second">
        <el-button type="primary" size="small" @click="setParamsInfo('only')" :disabled="value.length!=3">设置静态参数</el-button>
        <el-table :data="tableData2" style="width: 100%">
          <el-table-column type="index" width="50" label="#"></el-table-column>
          <el-table-column label="属性名称" prop="attr_name" width="180px"></el-table-column>
          <el-table-column label="属性值" prop="attr_vals" width="180px"></el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button
                type="primary"
                icon="el-icon-edit"
                plain
                size="mini"
                @click="edit(scope.row)"
              ></el-button>
              <el-button
                type="danger"
                icon="el-icon-delete"
                plain
                size="mini"
                @click="remove(scope.row)"
              ></el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
    </el-tabs>
    <el-dialog title="修改参数" :visible.sync="allotDialogFormVisible">
      <el-form :model="editForm" ref="form" label-width="80px" :rules="rules">
        <el-form-item label="属性名称" prop="attr_name">
          <el-input v-model="editForm.attr_name"></el-input>
        </el-form-item>
        <el-form-item label="属性值" prop="attr_vals" v-if="sel=='only'">
          <el-input v-model="editForm.attr_vals"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="allotDialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="changeAmend">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog :title="sel=='many'?'添加动态参数':'添加静态参数'" :visible.sync="AddDialogFormVisible">
      <el-form :model="addForm" ref="form" label-width="80px" :rules="rules">
        <el-form-item label="属性名称" prop="attr_name">
          <el-input v-model="addForm.attr_name"></el-input>
        </el-form-item>
        <el-form-item label="属性值" prop="attr_vals" v-if="sel=='only'">
          <el-input v-model="addForm.attr_vals"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="AddDialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="addParams">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import {
  getGoodsCategories,
  getGoodsAttrs,
  editParams,
  deleteParams,
  setParams
} from "@/http/apis";
export default {
  data() {
    return {
      activeName: "first",
      tableData: [],
      tableData2: [],
      options: [],
      inputVisible: [],
      inputValue: [],
      dynamicTags: [],
      value: [],
      allotDialogFormVisible: false,
      editForm: {
        attr_name: "",
        attr_vals: "",
        attr_sel: ""
      },
      rules: {
        attr_name: [
          { required: true, message: "请输入属性名称", trigger: "blur" }
        ],
        attr_vals: [
          { required: true, message: "请输入属性值", trigger: "blur" }
        ]
      },
      sel: "",
      id: "",
      AddDialogFormVisible: false,
      addForm: {
        attr_name: "",
        attr_vals: "",
        attr_sel: ""
      }
    };
  },
  methods: {
    async getGoodsCategories() {
      const res = await getGoodsCategories(3);
      this.options = res;
    },
    async getGoodsAttrs(id, sel) {
      const res = await getGoodsAttrs(id, sel);
      if (sel == "only") {
        this.tableData2 = res;
      } else {
        this.tableData = res;
      }
    },
    async handleClick(tab, event) {
      if (this.value.length == 0) {
        this.$message({
          message: "请选择三级分类",
          type: "warning"
        });
      }
    },
    async handleChange(value) {
      if (value.length < 3) {
        this.tableData = [];
        this.tableData2 = [];
        return;
      }
      await this.getGoodsAttrs(value[value.length - 1], "many");
      await this.getGoodsAttrs(value[value.length - 1], "only");
      this.value = value;
      this.inputVisible = [];
      this.tableData.forEach(item => {
        this.inputVisible.push(false);
        this.inputValue.push("");
      });
    },
    async editParams(id, attrId, data) {
      await editParams(id, attrId, data);
    },
    async deleteParams(id, attrId) {
      await deleteParams(id, attrId);
    },
    async setParams(id, data) {
      await setParams(id, data);
    },
    async handleClose(index, val) {
      const { attr_id, attr_name, attr_sel, attr_vals } = val;
      let vals = attr_vals ? attr_vals.split(",") : [];
      vals.splice(vals.indexOf(index), 1);
      await this.editParams(this.value[this.value.length - 1], attr_id, {
        attr_name,
        attr_sel,
        attr_vals: vals.join()
      });
      val = Object.assign(val, {
        attr_vals: vals.join()
      });
    },

    showInput(index) {
      this.$set(this.inputVisible, index, true);
      this.$nextTick(_ => {
        console.log(this.$refs);
        this.$refs["saveTagInput" + index].$refs.input.focus();
      });
    },

    async handleInputConfirm(index, val) {
      if (this.inputValue[index]) {
        const { attr_id, attr_name, attr_sel, attr_vals } = val;
        let vals = attr_vals ? attr_vals.split(",") : [];
        vals.push(this.inputValue[index]);
        await this.editParams(this.value[this.value.length - 1], attr_id, {
          attr_name,
          attr_sel,
          attr_vals: vals.join()
        });
        val = Object.assign(val, {
          attr_vals: vals.join()
        });
        this.inputValue[index] = "";
      }
      this.$set(this.inputVisible, index, false);
    },
    edit(val) {
      const { attr_id, cat_id, attr_name, attr_vals, attr_sel } = val;
      this.editForm = Object.assign(this.editForm, {
        attr_name,
        attr_vals,
        attr_sel
      });
      this.sel = attr_sel;
      this.id = attr_id;
      this.allotDialogFormVisible = true;
    },
    async remove(val) {
      await this.deleteParams(val.cat_id, val.attr_id);
      this.handleChange(this.value);
    },
    async changeAmend() {
      await editParams(
        this.value[this.value.length - 1],
        this.id,
        this.editForm
      );
      this.handleChange(this.value);
      this.allotDialogFormVisible = false;
    },
    setParamsInfo(sel) {
      this.sel = sel;
      this.addForm.attr_sel=sel
      this.AddDialogFormVisible = true;
      console.log(this.sel)
    },
    async addParams() {
      console.log(this.addForm)
      await setParams(this.value[this.value.length - 1],this.addForm);
      this.AddDialogFormVisible = false;
      this.$refs.form.resetFields();
      this.handleChange(this.value);
    }
  },
  watch: {
    $route() {
      this.getGoodsCategories();
    }
  },
  created() {
    this.getGoodsCategories();
  }
};
</script>
<style lang="scss" scoped>
.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
</style>