<template>
  <div class="goodsAdd">
    <el-breadcrumb separator="/" style="margin-bottom: 15px;">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>商品管理</el-breadcrumb-item>
      <el-breadcrumb-item>商品列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-alert
      title="添加商品信息"
      type="info"
      :closable="false"
      center
      show-icon
      style="margin-bottom:10px"
    ></el-alert>
    <el-steps :active="active-0+1" finish-status="success" align-center>
      <el-step v-for="(item,index) in step" :title="item" :key="index"></el-step>
    </el-steps>
    <el-tabs tab-position="left" v-model="active">
      <el-tab-pane
        v-for="(item,index) in step"
        :name="''+index"
        :label="item"
        :key="index"
        style="height:370px;overflow: auto;"
      >
        <template v-if="item=='基本信息'">
          <el-form label-position="top" :model="goodsAdd" label-width="80px">
            <el-form-item label="商品名称">
              <el-input v-model="goodsAdd.goods_name"></el-input>
            </el-form-item>
            <el-form-item label="商品价格">
              <el-input v-model="goodsAdd.goods_price"></el-input>
            </el-form-item>
            <el-form-item label="商品重量">
              <el-input v-model="goodsAdd.goods_weight"></el-input>
            </el-form-item>
            <el-form-item label="商品数量">
              <el-input v-model="goodsAdd.goods_number"></el-input>
            </el-form-item>
            <el-form-item label="商品分类" v-if="!id">
              <div class="block">
                <el-cascader
                  v-model="goodsAdd.goods_cat"
                  :options="options"
                  :props="{ expandTrigger: 'hover',value:'cat_id',label:'cat_name' }"
                  @change="handleChange"
                ></el-cascader>
              </div>
            </el-form-item>
          </el-form>
        </template>
        <template v-if="item=='商品参数'">
          <el-form label-position="top">
            <el-form-item
              v-for="(item,index) in goodsAdd.attrs"
              :key="item.attr_id"
              :label="item.attr_name"
            >
              <el-checkbox
                v-for="(_item,_index) in item.attr_vals?item.attr_vals.split(','):[]"
                :key="_index"
                :label="_item"
                border
                @change="handleCheck(index,_index)"
                :value="Boolean(_item)"
              ></el-checkbox>
            </el-form-item>
          </el-form>
        </template>
        <template v-if="item=='商品属性'">
          <el-form label-position="top" label-width="80px">
            <el-form-item :label="item.attr_name" v-for="item in goodsAttrs" :key="item.attr_id">
              <el-input v-model="item.attr_vals"></el-input>
            </el-form-item>
          </el-form>
        </template>
        <template v-if="item=='商品图片'">
          <el-upload
            class="upload-demo"
            :headers="headers"
            :action="baseURL+'upload'"
            :on-success="handleSuccess"
            :on-remove="handleRemove"
            :file-list="fileList"
            list-type="picture"
          >
            <el-button size="small" type="primary">点击上传</el-button>
          </el-upload>
        </template>
        <template v-if="item=='商品内容'">
          <el-button @click="add" v-if="!id">添加商品</el-button>
          <el-button @click="add" v-if="id">确认更改</el-button>
          <quill-editor
            v-model="goodsAdd.goods_introduce"
            ref="myQuillEditor"
            :options="editorOption"
            @blur="onEditorBlur($event)"
            @focus="onEditorFocus($event)"
            @change="onEditorChange($event)"
          ></quill-editor>
        </template>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>
<script>
import { _baseURL } from "@/http/index";
import {
  getGoodsCategories,
  getGoodsAttrs,
  addGood,
  getGoodsInfo,
  editGoods
} from "@/http/apis";
export default {
  props: ["id"],
  data() {
    return {
      active: "0",
      step: ["基本信息", "商品参数", "商品属性", "商品图片", "商品内容"],
      options: [],
      goodsAdd: {
        goods_name: "",
        goods_price: "",
        goods_number: "",
        goods_weight: "",
        goods_introduce: "",
        pics: [],
        attrs: [],
        goods_cat: []
      },
      goodsAttrs: [],
      fileList: [],
      editorOption: {},
      headers: {
        Authorization: this.$store.state.token
      },
      baseURL: _baseURL
    };
  },

  methods: {
    handleChange(value) {
      console.log(value);
    },
    async GoodsCategories() {
      const res = await getGoodsCategories(3);
      this.options = res;
    },
    async getGoodsAttrs(sel) {
      return await getGoodsAttrs(
        this.goodsAdd.goods_cat[this.goodsAdd.goods_cat.length - 1],
        sel
      );
    },
    async add() {
      this.goodsAdd.goods_cat = this.goodsAdd.goods_cat.join(",");
      this.goodsAdd.attrs = [...this.goodsAdd.attrs, ...this.goodsAttrs];
      try {
        if (this.id) {
          await editGoods(this.id, this.goodsAdd);
        } else {
          await addGood(this.goodsAdd);
        }
        this.goodsAdd = {
          goods_name: "",
          goods_price: "",
          goods_number: "",
          goods_weight: "",
          goods_introduce: "",
          pics: [],
          attrs: [],
          goods_cat: []
        };
        this.active = "0";
        this.$router.push({
          name: "goods"
        });
      } catch (res) {}
    },
    handleCheck(index1, index2) {
      let res = this.goodsAdd.attrs[index1].attr_vals.split(",");
      res.splice(index2, 1);
      this.goodsAdd.attrs[index1].attr_vals = res.join(",");
    },
    handleRemove(file, fileList) {
      console.log(file, fileList)
      const index = this.goodsAdd.pics.findIndex(item => {
        return item.name == file.name;
      });
      this.goodsAdd.pics.splice(index, 1);
    },
    handleSuccess(res,file, fileList) {
      console.log(res,file, fileList)
      const {
        data: { tmp_path }
      } = res;
      this.goodsAdd.pics.push({
        name:tmp_path,
        pic: tmp_path
      });
    },

    onEditorReady(editor) {
      // 准备编辑器
    },
    onEditorBlur() {}, // 失去焦点事件
    onEditorFocus() {}, // 获得焦点事件
    onEditorChange() {}, // 内容改变事件
    async getGoodsInfo() {
      const res = await getGoodsInfo(this.id);
      this.goodsAdd = res;
      this.goodsAdd.goods_cat = res.goods_cat.split(",");
      this.fileList = [];
      res.pics.forEach(item => {
        this.fileList.push({
          name: item.pics_big,
          url: item.pics_big
        });
      });
      
      
    }
  },
  watch: {
    async active(val) {
      if (val != 0) {
        if (this.goodsAdd.goods_cat.length == 0) {
          this.$message.error("请选择商品的三级分类");
        } else if (val == 1) {
          const res = await this.getGoodsAttrs("many");
          this.goodsAdd.attrs = res;
        } else if (val == 2) {
          const res = await this.getGoodsAttrs("only");
          this.goodsAttrs = res;
        }
      }
    },
    async $route() {
      this.goodsAdd = {
        goods_name: "",
        goods_price: "",
        goods_number: "",
        goods_weight: "",
        goods_introduce: "",
        pics: [],
        attrs: [],
        goods_cat: []
      };
      this.active = "0";
      await this.GoodsCategories();
      if (this.id) {
        this.getGoodsInfo();
      }
    }
  },
  computed: {
    editor() {
      return this.$refs.myQuillEditor.quill;
    }
  },
  async created() {
    await this.GoodsCategories();
    if (this.id) {
      this.getGoodsInfo();
    }
  }
};
</script>
<style lang="scss">
.goodsAdd {
  height: calc(100vh - 120px);
}
</style>