<template>
  <div class="rights">
    <el-breadcrumb separator="/" style="margin-bottom: 15px;">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>权限管理</el-breadcrumb-item>
      <el-breadcrumb-item>权限列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-table style="width: 100%" border stripe :data="rightsLists" height="calc(100vh - 505px)">
      <el-table-column type="index" width="50" label="#"></el-table-column>
      <el-table-column prop="authName" label="权限名称" width="200"></el-table-column>
      <el-table-column prop="path" label="路径" width="200"></el-table-column>
      <el-table-column label="层级">
        <template slot-scope="scope">
            {{scope.row.level | GetLevel}}
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>
<script>
import {allotLists} from '@/http/apis.js'
export default {
  data() {
    return {
      rightsLists:[]
    }
  },
  methods: {
    async GetLists(){
      const res= await allotLists('list')
      this.rightsLists=res;
      console.log(this.rightsLists)
    }
  },
  filters:{
    GetLevel(val){
      if(val==0){
        return '一级'
      }else if(val==1){
        return '二级'
      }else {
        return '三级'
      }
    }
  },
  created() {
    this.GetLists()
  },
}
</script>