<template>
  <div class="roles">
    <el-breadcrumb separator="/" style="margin-bottom: 15px;">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>权限管理</el-breadcrumb-item>
      <el-breadcrumb-item>角色管理</el-breadcrumb-item>
    </el-breadcrumb>
    <el-button type="primary" @click="editRole('add')">添加角色</el-button>
    <el-table :data="rolesLists" style="width: 100%">
      <el-table-column type="expand">
        <template slot-scope="scope">
          <el-row v-for="(item,index) in scope.row.children" :key="item.id">
            <el-col :span="4">
              <el-tag
                closable
                type
                @close="deleteRights(scope.row.id,item.id,scope.$index,index)"
              >{{item.authName}}</el-tag>
              <i class="el-icon-arrow-right"></i>
            </el-col>
            <el-col :span="20">
              <el-row v-for="(_item,_index) in item.children" :key="_item.id">
                <el-col :span="6">
                  <el-tag
                    closable
                    type="success"
                    @close="deleteRights(scope.row.id,_item.id,scope.$index,index,_index)"
                  >{{_item.authName}}</el-tag>
                  <i class="el-icon-arrow-right"></i>
                </el-col>
                <el-col :span="18">
                  <el-tag
                    closable
                    type="warning"
                    v-for="(__item,__index) in _item.children"
                    :key="__item.id"
                    @close="deleteRights(scope.row.id,__item.id,scope.$index,index,_index,__index)"
                  >{{__item.authName}}</el-tag>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
      <el-table-column type="index" width="50" label="#"></el-table-column>
      <el-table-column label="角色名称" prop="roleName"></el-table-column>
      <el-table-column label="角色描述" prop="roleDesc"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            size="small"
            @click="editRole('edit',scope.row)"
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            size="small"
            @click="deleteRole(scope.row.id)"
          ></el-button>
          <el-button
            type="success"
            icon="el-icon-check"
            circle
            size="small"
            @click="allotLists(scope.row)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog :title="boo?'编辑角色':'添加角色'" :visible.sync="dialogFormVisible">
      <el-form :model="rolesForm" ref="rolesForm" :rules="rulesForm">
        <el-form-item label="角色名称" label-width="120px" prop="roleName">
          <el-input v-model="rolesForm.roleName	" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="角色描述" label-width="120px" prop="roleDesc">
          <el-input v-model="rolesForm.roleDesc" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleRoles">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="分配权限" :visible.sync="allotDialogFormVisible">
      <el-tree
        :data="permissionsLists"
        show-checkbox
        node-key="id"
        default-expand-all
        :default-checked-keys="arrId"
        ref="tree"
        highlight-current
        :props="defaultProps"
      ></el-tree>
      <div slot="footer" class="dialog-footer">
        <el-button @click="allotDialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="allotRoles">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import {
  GetRoleLists,
  addRoles,
  deleteRight,
  editRoles,
  deleteRoles,
  allotLists,
  roleAuthorization
} from "@/http/apis";
export default {
  data() {
    return {
      rolesLists: [],
      dialogFormVisible: false,
      allotDialogFormVisible: false,
      rolesForm: {
        roleName: "",
        roleDesc: ""
      },
      rulesForm: {
        roleName: [
          { required: true, message: "请输入用户名", trigger: "blur" }
        ],
        roleDesc: []
      },
      boo: false,
      rolesId: "",
      permissionsLists: [],
      defaultProps: {
        children: "children",
        label: "authName"
      },
      arrId: []
    };
  },
  methods: {
    //添加角色
    async addroles() {
      await addRoles(this.rolesForm);
      this.getRolesLists();
      this.$refs.rolesForm.resetFields();
    },
    //编辑角色
    async editRoles() {
      await editRoles(this.rolesId, this.rolesForm);
      this.getRolesLists();
    },
    //删除角色
    async deleteRoles(id) {
      await deleteRoles(id);
      this.getRolesLists();
    },
    async deleteRole(id) {
      try {
        await this.$confirm("此操作将永久删除该用户, 是否继续?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        });
        this.deleteRoles(id);
      } catch (error) {
        this.$message({
          type: "info",
          message: "已取消删除"
        });
      }
    },
    // 获取所有权限
    async allotLists(obj) {
      const res = await allotLists("tree");
      this.permissionsLists = res;
      this.allotDialogFormVisible = true;
      this.rolesId = obj.id;
      this.arrId = [];
      obj.children.forEach(item => {
        item.children.forEach(_item => {
          _item.children.forEach(__item => {
            this.arrId.push(__item.id);
          });
        });
      });
     
    },
    //分配权限
    async roleAuthorization(arr) {
      await roleAuthorization(this.rolesId, arr);
      this.getRolesLists();
    },
    allotRoles() {
      let keys=this.$refs.tree.getCheckedKeys().concat(this.$refs.tree.getHalfCheckedKeys())
      let arr = keys.join(",");
      this.roleAuthorization(arr)
      this.allotDialogFormVisible = false;
    },
    handleRoles() {
      this.$refs.rolesForm.validate(valid => {
        if (valid) {
          if (this.boo) {
            this.editRoles();
          } else {
            this.addroles();
          }
          this.dialogFormVisible = false;
        } else {
          return false;
        }
      });
    },
    async deleteRights(roleId, rightId, index1, index2, index3, index4) {
      await deleteRight(roleId, rightId);
      if (arguments.length == 4) {
        this.rolesLists[index1].children.splice(index2, 1);
      } else if (arguments.length == 5) {
        this.rolesLists[index1].children[index2].children.splice(index3, 1);
      } else {
        this.rolesLists[index1].children[index2].children[
          index3
        ].children.splice(index4, 1);
      }
    },
    async getRolesLists() {
      const res = await GetRoleLists();
      this.rolesLists = res;
    },
    editRole(str, obj) {
      if (str == "edit") {
        this.boo = true;
        const { roleName, roleDesc, id } = obj;
        (this.rolesId = id),
          (this.rolesForm = Object.assign(this.rolesForm, {
            roleName,
            roleDesc
          }));
      } else {
        this.boo = false;
      }
      this.dialogFormVisible = true;
    }
  },
  created() {
    this.getRolesLists();
  }
};
</script>
<style lang="scss" scoped>
.el-tag {
  margin-left: 10px;
  margin-bottom: 10px;
}
</style>