<template>
  <div class="index">
    <el-container style="height: 100vh; ">
      <el-aside width="auto">
        <h3 class="title">
          <span v-show="!isCollapse">后台管理</span>
          <img src="@/assets/image/users.jpg" alt class="titleImg" />
        </h3>
        <el-menu
          :default-active="defaultActive"
          background-color="rgb(0, 21, 41)"
          text-color="rgb(153, 153, 153)"
          active-text-color="#fff"
          router
          :collapse="isCollapse"
          class="el-menu-vertical-demo"
          @open="handleOpen"
          @close="handleClose"
        >
          <el-submenu :index="''+index" v-for="(item,index) in menus" :key="index">
            <template slot="title">
              <i :class="item.path | icon"></i>
              <span slot="title">{{item.authName}}</span>
            </template>
            <el-menu-item
              :index="'/index/'+_item.path"
              v-for="(_item,_index) in item.children"
              :key="_index"
            >{{_item.authName}}</el-menu-item>
          </el-submenu>
        </el-menu>
      </el-aside>

      <el-container>
        <el-header
          style="display: flex;justify-content: space-between;align-items: center; font-size: 12px"
        >
          <i
            :class="isCollapse?'el-icon-s-unfold':'el-icon-s-fold'"
            @click="isCollapse=!isCollapse"
            style="font-size:24px;cursor: pointer;"
          ></i>
          <div>
            <el-dropdown>
              <i class="el-icon-setting" style="margin-right: 15px"></i>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item @click.native="logOut">退出</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
            <span v-text="$store.state.username"></span>
          </div>
        </el-header>

        <el-main style="padding:15px;background: #eee; ">
          <keep-alive>
            <router-view class="main"></router-view>
          </keep-alive>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
export default {
  data() {
    const item = {
      date: "2016-05-02",
      name: "王小虎",
      address: "上海市普陀区金沙江路 1518 弄"
    };
    return {
      tableData: Array(20).fill(item),
      menus: [],
      defaultActive: "/index/users",
      isCollapse: true
    };
  },
  methods: {
    logOut() {
      this.$store.commit("initState");
      this.$router.push({
        name: "login"
      });
    },
    handleOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    }
  },
  created() {
    this.http("menus", "get")
      .then(res => {
        this.menus = res.data;
      })
      .catch(err => {
        console.log(err);
      });
  },
  watch: {
    $route: {
      handler(val) {
        this.defaultActive = val.path;
      },
      immediate: true
    }
  },
  filters: {
    icon(value) {
      if (value == "users") {
        return "el-icon-s-grid";
      } else if (value == "rights") {
        return "el-icon-message";
      } else if (value == "goods") {
        return "el-icon-s-comment";
      } else if (value == "orders") {
        return "el-icon-camera";
      } else if (value == "reports") {
        return "el-icon-picture-outline-round";
      } else {
        return "el-icon-message";
      }
    }
  }
};
</script>
<style lang="scss">
.index {
  .el-header {
    border-bottom: 1px solid rgb(221, 221, 221);
    line-height: 60px;
    text-align: right;
    font-size: 12px;
  }
  .title {
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    cursor: pointer;
  }
  .el-aside {
    color: #333;
    background-color: rgb(0, 21, 41);
  }
  .el-menu-item:hover {
    background: rgb(0, 21, 41) !important;
  }
  .el-submenu__title:hover {
    background: rgb(0, 21, 41) !important;
  }
  .el-menu {
    border-right-width: 0;
  }
  .main {
    padding: 15px;
    background: #fff;
    border-radius: 5px;
  }
  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }
  .titleImg {
    width: 50px;
    height: 50px;
    display: block;
    margin: 5px auto;
    border-radius: 50px;
  }
}
</style>