<template>
  <div class="orders">
    <el-breadcrumb separator="/" style="margin-bottom: 15px;">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>订单管理</el-breadcrumb-item>
      <el-breadcrumb-item>订单列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-table
      height="calc(100vh - 318px)"
      :data="tableData"
      border
      style="width: 100%;margin-bottom: 20px;"
    >
      <el-table-column type="index" width="50" label="#"></el-table-column>
      <el-table-column prop="order_number" label="订单编号" width="250"></el-table-column>
      <el-table-column prop="order_price" label="订单价格"></el-table-column>
      <el-table-column label="是否付款">
        <template slot-scope="scope">
          <el-tag :type="scope.row.order_pay==0?'warning':''">{{scope.row.order_pay | price}}</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="is_send" label="是否发货"></el-table-column>
      <el-table-column label="下单时间">
        <template slot-scope="scope">{{scope.row.update_time | dealDate}}</template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="primary" icon="el-icon-edit" size="small" @click="editStatus(scope.row)"></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      style="margin-top: 15px;"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="users.pagenum"
      :page-sizes="[10, 20, 30, 40]"
      :page-size="users.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
    ></el-pagination>
    <el-dialog title="修改订单状态" :visible.sync="editDialogFormVisible">
      <el-form :model="states" label-width="80px">
        <el-form-item label="是否发货">
          <el-input v-model="states.is_send"></el-input>
        </el-form-item>
        <!-- <el-alert title="支付方式 0 未支付 1 支付宝 2 微信 3 银行卡" type="warning" center show-icon></el-alert> -->
        <el-form-item label="订单支付">
          <el-input v-model="states.order_pay"></el-input>
          <template>
              <el-alert style="height:20px" title="未支付: 0 ; 支付宝: 1 ; 微信: 2 ; 银行卡: 3 ; " type="warning"  :closable="false"></el-alert>
          </template>
        </el-form-item>
        <el-form-item label="订单价格">
          <el-input v-model="states.order_price"></el-input>
        </el-form-item>
        <el-form-item label="支付状态">
          <el-input v-model="states.pay_status"></el-input>
          <template>
              <el-alert style="height:20px" title="未付款: 0 ; 已付款: 1 ;" type="warning"  :closable="false"></el-alert>
          </template>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editDialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="changeEdit">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { getOrders ,editOrders} from "@/http/apis";
export default {
  data() {
    return {
      users: {
        query: "",
        pagenum: 1,
        pagesize: 10
      },
      total: null,
      tableData: [],
      states: {
        id: "",
        is_send: "",
        order_pay: "",
        order_price: "",
        order_number: "",
        pay_status: ""
      },
      editDialogFormVisible: false
    };
  },
  filters: {
    price(val) {
      return val == 0 ? "未付款" : "已付款";
    }
  },
  methods: {
    handleSizeChange(val) {
      this.users.pagenum = 1;
      this.users.pagesize = val;
      this.getOrders();
    },
    handleCurrentChange(val) {
      this.users.pagenum = val;
      this.getOrders();
    },
    async getOrders() {
      const res = await getOrders(this.users);
      console.log(res);
      this.tableData = res.goods;
      this.total = res.total;
    },
    editStatus(val) {
      console.log(val);
      const {
        order_id,
        is_send,
        order_pay,
        order_price,
        order_number,
        pay_status
      } = val;
      this.states = Object.assign(this.states, {
        order_id,
        is_send,
        order_pay,
        order_price,
        order_number,
        pay_status
      });
      this.editDialogFormVisible = true;
    },
    async editOrders(){
        await editOrders(this.states.order_id,this.states)  
    },
    async changeEdit(){
        await this.editOrders()
        this.getOrders();
        this.editDialogFormVisible = false;
    }
  },
  created() {
    this.getOrders();
  }
};
</script>