<template>
  <div class="reports">
    <el-breadcrumb separator="/" style="margin-bottom: 15px;">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>数据统计</el-breadcrumb-item>
      <el-breadcrumb-item>数据报表</el-breadcrumb-item>
    </el-breadcrumb>
    <x-chart id="highcharts" class="high" :option="option"></x-chart>
  </div>
</template>
<script>
import { getReports } from "@/http/apis";
import XChart from "@/components/charts";
export default {
  data() {
    return {
      option: {}
      //   option: {
      //     chart: {
      //       type: "area"
      //     },
      //     title: {
      //       text: "全球各大洲人口增长历史及预测"
      //     },
      //     subtitle: {
      //       text: "数据来源: Wikipedia.org"
      //     },
      //     xAxis: {
      //       categories: ["1750", "1800", "1850", "1900", "1950", "1999", "2050"],
      //       tickmarkPlacement: "on",
      //       title: {
      //         enabled: false
      //       }
      //     },
      //     yAxis: {
      //       title: {
      //         text: "十亿"
      //       },
      //       labels: {
      //         formatter: function() {
      //           return this.value / 1000;
      //         }
      //       }
      //     },
      //     tooltip: {
      //       split: true,
      //       valueSuffix: " 百万"
      //     },
      //     plotOptions: {
      //       area: {
      //         stacking: "normal",
      //         lineColor: "#666666",
      //         lineWidth: 1,
      //         marker: {
      //           lineWidth: 1,
      //           lineColor: "#666666"
      //         }
      //       }
      //     },
      //     series: [
      //       {
      //         name: "亚洲",
      //         data: [502, 635, 809, 947, 1402, 3634, 5268]
      //       },
      //       {
      //         name: "非洲",
      //         data: [106, 107, 111, 133, 221, 767, 1766]
      //       },
      //       {
      //         name: "欧洲",
      //         data: [163, 203, 276, 408, 547, 729, 628]
      //       },
      //       {
      //         name: "美洲",
      //         data: [18, 31, 54, 156, 339, 818, 1201]
      //       },
      //       {
      //         name: "大洋洲",
      //         data: [2, 2, 2, 6, 13, 30, 46]
      //       }
      //     ]
      //   }
    };
  },
  components: {
    XChart
  },
  methods: {
    async getReports() {
      const res = await getReports(1);
      console.log(res);
      const _res = JSON.parse(JSON.stringify(res));
      _res.xAxis = {
        categories: _res.xAxis[0].data
      };
      _res.series.map(item => (item.type = "area"));
      _res.plotOptions = {
        area: {
          stacking: "normal",
          lineColor: "#666666",
          lineWidth: 1,
          marker: {
            lineWidth: 1,
            lineColor: "#666666"
          }
        }
      };
      _res.credits = {
        enabled: false
      };
      _res.tooltip = {
        shared: true,
        valueSuffix: "millions"
      };

      this.option = _res;
    }
  },
  created() {
    this.getReports();
  }
};
</script>