<template>
  <div class="users">
    <el-breadcrumb separator="/" style="margin-bottom: 15px;">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>用户管理</el-breadcrumb-item>
      <el-breadcrumb-item>用户列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-form>
      <el-form-item>
        <el-input
          @keydown.native.enter="creach"
          placeholder="请输入内容"
          v-model="query"
          style="width:350px;margin-right:10px"
        >
          <el-button slot="append" icon="el-icon-search" @click="creach"></el-button>
        </el-input>
        <el-button type="primary" @click="add">添加用户</el-button>
      </el-form-item>
    </el-form>
    <template>
      <el-table :data="tableData" border style="width: 100%;" height="calc(100vh - 280px)">
        <el-table-column type="index" width="50" label="#"></el-table-column>
        <el-table-column prop="username" label="姓名" width="184"></el-table-column>
        <el-table-column prop="email" label="邮箱" width="185"></el-table-column>
        <el-table-column prop="mobile" label="电话" width="305"></el-table-column>
        <el-table-column label="创建日期" width="305">
          <template slot-scope="scope">
            <div>{{scope.row.create_time | dealDate}}</div>
          </template>
        </el-table-column>
        <el-table-column label="用户状态" width="310">
          <template slot-scope="scope">
            <el-switch
              v-model="scope.row.mg_state"
              @click.native="updateUserState(scope.row)"
              active-color="#13ce66"
              inactive-color="#ff4949"
            ></el-switch>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="310">
          <template slot-scope="scope">
            <el-button type="primary" icon="el-icon-edit" circle @click="editUser(scope.row)"></el-button>
            <el-button type="danger" icon="el-icon-delete" circle @click="handleUser(scope.row)"></el-button>
            <el-button
              type="success"
              icon="el-icon-check"
              circle
              @click="handleAllotUser(scope.row)"
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
    </template>
    <el-pagination
      style="margin-top: 15px;"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="users.pagenum"
      :page-sizes="[2, 4, 6, 8]"
      :page-size="users.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
    ></el-pagination>
    <el-dialog title="添加用户" :visible.sync="dialogFormVisible">
      <el-form :model="form" ref="form" label-width="80px" :rules="rules">
        <el-form-item label="用户名" prop="username">
          <el-input v-model="form.username"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
          <el-input v-model="form.password"></el-input>
        </el-form-item>
        <el-form-item label="电话">
          <el-input v-model="form.mobile"></el-input>
        </el-form-item>
        <el-form-item label="邮箱">
          <el-input v-model="form.email"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleAdd">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="编辑用户" :visible.sync="editDialogFormVisible">
      <el-form :model="editForm" ref="form" label-width="80px" :rules="rules">
        <el-form-item label="用户名" prop="username">
          <el-input v-model="editForm.username" disabled></el-input>
        </el-form-item>
        <el-form-item label="电话">
          <el-input v-model="editForm.mobile"></el-input>
        </el-form-item>
        <el-form-item label="邮箱">
          <el-input v-model="editForm.email"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editDialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleEditUser">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="分配角色" :visible.sync="allotDialogFormVisible">
      <el-form :model="allotForm" ref="form" label-width="80px" :rules="rules">
        <el-form-item label="用户名" prop="username">
          <el-input v-model="allotForm.username" disabled></el-input>
        </el-form-item>
        <el-form-item label="角色">
          <el-select v-model="allotForm.rid" placeholder="请选择">
            <el-option :value="-1" label="请选择"></el-option>
            <el-option
              v-for="item in rolesOptions"
              :key="item.id"
              :label="item.roleName"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="allotDialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleRolesUser">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { addUsers, updateUserState, editUser, deleteUser ,allotUser,GetRoleLists ,allotRole} from "@/http/apis";

export default {
  data() {
    return {
      tableData: [],
      users: {
        query: "",
        pagenum: 1,
        pagesize: 6
      },
      total: null,
      query: "",
      dialogFormVisible: false,
      form: {
        username: "",
        password: "",
        mobile: "",
        email: ""
      },
      editForm: {
        username: "",
        mobile: "",
        email: ""
      },
      allotForm: {
        username: "",
        id: "",
        rid:''
      },
      rules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" },
          { min: 3, max: 12, message: "长度在 3 到 12 个字符", trigger: "blur" }
        ],
        password: [
          { required: true, message: "请输入密码", trigger: "blur" },
          { min: 3, max: 12, message: "长度在 3 到 12 个字符", trigger: "blur" }
        ]
      },
      editDialogFormVisible: false,
      allotDialogFormVisible: false,
      rolesOptions:[]
    };
  },

  methods: {
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
      this.users.pagesize = val;
      this.GetUsers();
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      this.users.pagenum = val;
      this.GetUsers();
    },
    creach() {
      this.users.query = this.query;
      this.users.pagenum = 1;
      this.GetUsers();
    },
    add() {
      this.dialogFormVisible = true;
    },
    async addUsers(data) {
      await addUsers(data);
    },
    //更新用户状态
    async updateUserState(obj) {
      await updateUserState(obj.id, obj.mg_state);
      this.GetUsers();
    },
    // 编辑用户
    editUser(obj) {
      this.editDialogFormVisible = true;
      const { username, mobile, email, id } = obj;
      this.editForm = Object.assign(this.editForm, {
        username,
        mobile,
        email,
        id
      });
    },
    //编辑用户提交
    async handleEditUser() {
      await editUser(this.editForm);
      this.GetUsers();
      this.editDialogFormVisible = false;
    },
    // 删除单个用户
    async deleteUser(id) {
      await deleteUser(id);
      this.GetUsers();
    },
    async handleUser(obj) {
      try {
        await this.$confirm("此操作将永久删除该用户, 是否继续?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        });
        this.deleteUser(obj.id);
      } catch (error) {
        this.$message({
          type: "info",
          message: "已取消删除"
        });
      }
    },
    //查询用户信息（角色）
    async allotUser(id){
      const {rid} = await allotUser(id)
      this.allotForm = Object.assign(this.allotForm, {
        rid
      });
    },
    handleAllotUser(obj) {
      this.GetRoleLists()
      this.allotDialogFormVisible = true;
      const { username, id } = obj;
      this.allotForm = Object.assign(this.allotForm, {
        username,
        id
      });
      this.allotUser(obj.id)
    },
    //获取角色列表
    async GetRoleLists(){
      const data = await GetRoleLists()
      this.rolesOptions=data
    },
    //分配用户角色
    async allotRole(){
      const {id,rid}= this.allotForm
      await allotRole(id,rid)
      this.GetUsers()
    },
    handleRolesUser(){
      this.allotRole()
      this.allotDialogFormVisible=false
    },
    handleAdd() {
      this.$refs.form.validate(async valid => {
        if (valid) {
          await this.addUsers(this.form);
          this.dialogFormVisible = false;
          this.form = {
            username: "",
            password: "",
            mobile: "",
            email: ""
          };
          this.users.pagenum = 1;
          this.GetUsers();
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    GetUsers() {
      this.http("users", "Get", {}, this.users)
        .then(res => {
          this.tableData = res.data.users;
          this.total = res.data.total;
        })
        .catch(err => {
          console.log(res);
        });
    }
  },
  created() {
    this.GetUsers();
  }
};
</script>